{{>layouts/header}}
<h2>공지사항</h2>
{{>announces/homeannounceindex}} <!-- homeannounceindex.mustache를 포함시킴 -->
<br>
<h2>자유게시판</h2>
{{> cmPost/homepostList}} <!-- homepostList.mustache를 포함시킴 -->
<br>
{{>layouts/footer}}