{{>layouts/header}}


<h1>관리자 페이지</h1>
<br/>
<a href="/user" class="btn btn-primary">회원 관리</a><br/><br/>
<a href="/user/inactive" class="btn btn-danger">삭제된 회원 관리</a><br/><br/>
<a href="/announces" class="btn btn-primary">공지사항 관리</a><br/><br/>
<a href="/session-login" class="btn btn-warning">돌아가기</a>

{{>layouts/footer}}